#character
  bg #fff
  left 16em
  right 0
  top 4.4em
  bottom 4.4em
  position fixed
  &:empty
    display none

  .col
    flex 1
    position relative
    brd r 1px #ccc
    padding 1em
    overflow-y auto
    .actions
      position: absolute
      right 1em

    .head
      mrg-b 1em
      img
        pad-r 1em
        brd r 1px #ccc
        max-h 12em
      h2
        pad-l 1em
        line-height 6

    .field
      mrg-b 4px
      display flex
      line-height 2

      b
        shd inset 1px 0 0 1px #ccc
        width 20%
        pad-r 1em
        rd 3px 0 0 3px
      input
        rd 0 3px 3px 0
        width 80%

    nav
      padding 1em
      button
        margin 1px
        padding 0 .5em 0 0
        &:hover
          bg: _err
      input
        mrg-b 1em
        width 100%

    textarea
      padding 1em
      flex 1
      white-space pre-wrap
      rd 3px
      shd inset 0 0 5px #ccc
      color #555