#character
  bg #fff
  left 16em
  right 0
  top 4.4em
  bottom 4.4em
  position fixed

  .col
    flex 1
    position relative
    brd r 1px #ccc
    padding 1em
    overflow-y auto

    .head
      margin 1em 0
      img
        pad-r 1em
        brd r 1px #ccc
      h2
        pad-l 1em
        line-height 4

    .field
      mrg-b 4px
      display flex
      line-height 2

      b
        shd #ccc
        width 15%
        padding 0 1em
      input
        width 85%

    nav
      padding 1em
      button
        margin 1px
        &:hover
          bg: _err
      input
        mrg-b 1em
        width 100%

  pre.col
    white-space pre-wrap