@require 'utils'

button, .btn
  rd  3px
  bg  mediumturquoise
  shd  inset 0 0 0 1px rgba(0,0,0,.1)
  color  #fff
  border  none
  padding  0 1em
  line-height 2
  cursor pointer

button.close
  bg  crimson
  rd  50%
  top  -1em
  right  -1em
  position  absolute
  line-height  2.5
  &:after
    content: '✖'

input
  shd 0 0 0 1px #ccc
  margin 1em
  padding 0 1em
  line-height 2


.btn-option
  label
    @extend $nowrap
    cursor pointer
    display block
    line-height 2
    &:before
      display inline-block
      padding 0 .5em
      line-height 2
      content '-'
  input
    display none
    &:checked + label:before
      content '+'

.btn-group
  rd 3px
  shd rgba(#000, .2)
  display flex
  > [class*='btn']
    flex: 1
    rd: 0px
    bg: transparent

    &:first-child
      shd: none
      rd: 3px 0 0 3px

    &:last-child
      shd: none
      rd: 0 3px 3px 0

    &:not(:last-child)
      shd:1px 0 0 rgba(#000, .2)


.popup
  position fixed
  top 8em
  right 4em
  left 16em
  background #fff
  rd 3px
  shd 1px 1px 15px