button, .btn
  rd  3px
  bg honeydew
  shd  inset 0 0 0 1px rgba(0,0,0,.1)
  border  none
  padding  0 1em
  line-height 2
  cursor pointer
  display inline-block


.info
  bg _info
.warning
  bg _warning
.danger
  bg _danger
.prime
  bg _prime
.brand
  bg _brand
.ok
  bg _ok
.err
  bg _err


input
  shd 0 0 0 1px #ccc
  padding 0 1em
  line-height 2
  &:focus
    bg lightyellow

.btn-option
  .opt-title
    @extend $nowrap
    cursor pointer
    display block
    line-height 2
    &:before
      display inline-block
      padding 0 .5em
      line-height 2
      content '✚'

  .opt-tab
    display none

  input.opt-toggle
    display none

    &:checked + .opt-title:before
      content '✖︎'
    &:checked ~ .opt-tab
      display block

.btn-group
  rd 3px
  shd rgba(#000, .3)
  display flex
  > [class*='btn']
    flex: 1
    rd: 0px
    shd: inset -1px 0 0 rgba(#000, .3)

    &:first-child
      rd: 3px 0 0 3px

    &:last-child
      shd: none
      rd: 0 3px 3px 0