.info
  bg _info
.warning
  bg _warning
.danger
  bg _danger
.prime
  bg _prime
.brand
  bg _brand
.ok
  bg _ok
.err
  bg _err


button, .btn
  rd  3px
  bg honeydew
  shd  inset 0 0 0 1px rgba(0,0,0,.1)
  border  none
  padding  0 1em
  line-height 2
  cursor pointer
  display inline-block
  color #555
  &:hover
    bg darken(honeydew, 10)

[disabled]
  opacity .5
  cursor not-allowed

input
  margin 0
  padding 0 1em
  line-height 2
  color #555
  shd inset 0 0 0 1px #ccc
  bg #f0f0f0
  rd 3px
  &:focus
    bg lightyellow
    shd inset 0 0 0 1px skyblue

textarea
  &:focus
    bg lightyellow

.btn-option
  .opt-title
    @extend $nowrap
    cursor pointer
    display block
    line-height 2
    &:before
      display inline-block
      padding 0 .5em
      line-height 2
      content '✚'

  .opt-tab
    display none

  input.opt-toggle
    display none

    &:checked + .opt-title:before
      content '✖︎'
    &:checked ~ .opt-tab
      display block

.btn-group
  rd 3px
  shd rgba(#000, .3)
  display inline-block
  > [class*='btn']
    rd: 0px
    shd: inset -1px 0 0 rgba(#000, .3)

    &:first-child
      rd: 3px 0 0 3px

    &:last-child
      shd: none
      rd: 0 3px 3px 0

.dropbox
  position relative
  h3
    line-height 3
    brd b 1px #ccc
  nav
    display none
    .opt-title
      shd 0 1px 0 #ccc
      pad-r 1em
      &:before
        font-family 'ico'
        content ''
      &:hover
        bg aliceblue
    .opt-toggle:checked + .opt-title
      bg aliceblue
      color _ok
      &:before
        content '\e5ca'
  &:hover nav
    display block
    position absolute
    top .5em
    left 8em
    rd 3px
    max-height 56em
    overflow-y auto
    background #fff
    shd 0 0 0 1px #ccc, 0 2px 4px rgba(#000, .3)
    z-index 9
    display flex
    flex-direction column

