$clear
  shd    : none
  border : none
  bg     : transparent

$mute
  user-select: none
  pointer-events: none

$nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

$ico
  font-style: normal
  font-weight: normal
  display: inline-block
  padding: 0 .25em
  text-decoration: none
  font-variant: normal
  text-transform: none


.fx
  display: flex
.fx-row
  display: flex
  flex-direction: row
.fx-col
  display: flex
  flex-direction: column
.box
  flex:1

.right
  float: right
.left
  float: left

.block
  display:block
  position: relative

.hidden
  display:none imp

.scroll-y
  overflow-y: auto

::-webkit-scrollbar
  width .5em
::-webkit-scrollbar-track
  shd inset 1px 0 2px #ccc
::-webkit-scrollbar-thumb
  bg #ccc
  shd inset 0 0 5px #aaa



