_rdx1 = 3px
_rdx2 = 5px
_rdx3 = 1em

_primary  = #428bca
_success  = #5cb85c
_info     = #5bc0de
_warning  = #f0ad4e
_danger   = #d9534f

_prime = _primary
_brand = #fa5515
_ok    = _success
_err   = _danger

_yellow = #e6b22b

_grey1 = #eee
_grey2 = #ccc
_grey  = #999
_grey3 = #666
_grey4 = #333

_green1 = mediumaquamarine
_green2 = #008800
_green3 = darkseagreen
_green4 = mediumseagreen

_red1 = #f88472
_red2 = #f6750d
_red3 = #f33314
_red4 = crimson
_app = _red3

_blue1 = skyblue
_blue2 = #539bcd
_blue3 = #39506a
_blue4 = navy

_txt = _grey4
_btnDef = _red1
_nav = _red2
_active = _red3
_link = #799999


_fnt1 = 'Open Sans', sans-serif
_fnt2 = 'Vollkorn', serif
_fnt3 = "Helvetica Neue", Helvetica, Arial, sans-serif
_fnt4 = Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif